html {
	background: #fff;
    font-family: "Consolas", "Courier New", "Devanagari MT", "Gujarati MT", "Gurmukhi MT", "InaiMathi", "Kailasa", "Kannada MN", "Khmer MN", "Lao MN", "Malayalam MN", "Myanmar MN", "Noto Sans Balinese", "Noto Sans Brahmi", "Noto Sans Chakma", "Noto Sans Cham", "Noto Sans Javanese", "Noto Sans Kayah Li", "Noto Sans Lepcha", "Noto Sans Limbu", "Noto Sans Meetei Mayek", "Noto Sans NKo", "Noto Sans New Tai Lue", "Noto Sans Ol Chiki", "Noto Sans Osmanya", "Noto Sans Saurashtra", "Noto Sans Sundanese", "Noto Sans Tai Tham", "Noto Sans Vai", "Oriya MN", "STHeiti", "STIXGeneral", "Telugu MN", "Thonburi", "Noto Sans", sans-serif !important;
}

h1 {
	font-family: "Consolas", "Courier New", "Devanagari MT", "Gujarati MT", "Gurmukhi MT", "InaiMathi", "Kailasa", "Kannada MN", "Khmer MN", "Lao MN", "Malayalam MN", "Myanmar MN", "Noto Sans Balinese", "Noto Sans Brahmi", "Noto Sans Chakma", "Noto Sans Cham", "Noto Sans Javanese", "Noto Sans Kayah Li", "Noto Sans Lepcha", "Noto Sans Limbu", "Noto Sans Meetei Mayek", "Noto Sans NKo", "Noto Sans New Tai Lue", "Noto Sans Ol Chiki", "Noto Sans Osmanya", "Noto Sans Saurashtra", "Noto Sans Sundanese", "Noto Sans Tai Tham", "Noto Sans Vai", "Oriya MN", "STHeiti", "STIXGeneral", "Telugu MN", "Thonburi", "Noto Sans", sans-serif !important;
}

p.title {
	font-size: 6rem !important;
	font-family: "Consolas", "Courier New", "Devanagari MT", "Gujarati MT", "Gurmukhi MT", "InaiMathi", "Kailasa", "Kannada MN", "Khmer MN", "Lao MN", "Malayalam MN", "Myanmar MN", "Noto Sans Balinese", "Noto Sans Brahmi", "Noto Sans Chakma", "Noto Sans Cham", "Noto Sans Javanese", "Noto Sans Kayah Li", "Noto Sans Lepcha", "Noto Sans Limbu", "Noto Sans Meetei Mayek", "Noto Sans NKo", "Noto Sans New Tai Lue", "Noto Sans Ol Chiki", "Noto Sans Osmanya", "Noto Sans Saurashtra", "Noto Sans Sundanese", "Noto Sans Tai Tham", "Noto Sans Vai", "Oriya MN", "STHeiti", "STIXGeneral", "Telugu MN", "Thonburi", "Noto Sans", sans-serif !important;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax( 12rem, 1fr ) );
  	grid-gap: 10px;
/*	grid-template-columns: auto auto auto;
	display: grid;
	grid-gap: 2rem 2rem;*/
}